<html>

<head>
	<title>Edit User</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/admin/editUser.css">
</head>

<body>
	<header>
		<a href="/admin/userControl" class="logo-link">
			<img th:src="@{/image/logo.png}" alt="Logo" class="logo">
		</a>
		<span>Edit Role</span>
		<a href="/logout" class="header-button">Logout</a>
	</header>
	<div class="user-details">
		First Name: <span th:text="${user.firstName}"></span><br>
		Last Name: <span th:text="${user.lastName}"></span><br>
		E-Mail: <span th:text="${user.email}"></span><br>
		Employee ID: <span th:text="${user.empId}"></span><br>

		<form method="post" action="/admin/editUserRole">
			Role: <select name="role" class="role-select"> <!-- Add a class to the select input -->
				<option value="">Select</option>
				<option value="Admin">Admin</option>
				<option value="User">User</option>
			</select>
			<input type="hidden" name="id" th:value="${user.id}">
			<button type="submit" class="submit-button">Submit</button> <!-- Add a class to the button -->
		</form>
	</div>
</body>

</html>