<html>

<head>
	<title>Files</title>
	<link rel="stylesheet" type="text/css" href="/css/guest/allFiles.css">
	<link rel="stylesheet" type="text/css" href="/css/header.css">

</head>

<body>
	<header>
		<a href="/guestDashboard" class="logo-link">
			<img th:src="@{/image/logo.png}" alt="Logo" class="logo">
		</a>
		<span>Files</span>
		<a href="/logout" class="header-button">Logout</a>
	</header>

	<form method="post" action="/guest/rangeDashboard" target="_blank">
		<input type="hidden" name="from" th:value="${from}">
		<input type="hidden" name="to" th:value="${to}">
		<button type="submit">Total Dashboard</button>
	</form>

	<table>
		<tr>
			<th>Year</th>
			<th>Month</th>
			<th>Domain</th>
			<th>Name</th>
			<th>Last Update</th>
			<th>Actions</th>
		</tr>
		<tr th:each="file : ${allFiles}">
			<td th:text="${file.year}"></td>
			<td th:text="${file.month}"></td>
			<td th:text="${file.domain}"></td>
			<td th:text="${file.name}"></td>
			<td th:text="${#dates.format(file.uploadTime, 'dd-MM-yyyy HH:mm')}"></td>

			<td class="button-container">
				<form method="post" action="/guest/showData" target="_blank">
					<input type="hidden" name="id" th:value="${file.id}">
					<button type="submit">Data</button>
				</form>
				<form method="post" action="/guest/dataDashboard" target="_blank">
					<input type="hidden" name="id" th:value="${file.id}">
					<button type="submit">Dashboard</button>
				</form>
			</td>
		</tr>
	</table>


</body>

</html>